@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html { /* para que a imagem ocupe toda a tela */
    height: 100%;
    margin: 0;
}

.imagem1, .imagem2, .imagem3, .imagem4 {
    height: 100%; /* para ocupar toda a tela */
    position: relative;
    background-repeat: no-repeat; /* para não repetir caso o zoom diminua */
    background-size: cover; /* para manter a imagem no tamanho da tela mesmo que altere o zoom */
    background-position: center; /* centralizar a imagem de fundo */
    background-attachment: fixed; /* para a imagem ficar fixa e criar um movimento AO rolar o conteudo */
}

.imagem1 {
    background-image: url(imagem/rome-gcea0fa535_1920.jpg);
}

.conteudo-titulo {
    position: absolute;
    left: 0%; /* 0 se for centralizar, do contrario usa a porcentagem que precise */
    top: 50%;
    width: 100%; /* usado para centralizar, se não for centralizar não tem necessidade de usar */
    text-align: center; /* usado para centralizar, se não for centralizar não tem necessidade de usar */
}

.conteudo-titulo p { /* os estilos dessa classe são usado aqui caso deseje centralizar o conteudo, do contrário, esses mesmo estilos poderiam estar na classe de cima (.conteudo-titulo) */
    color: black;
    background-color: white;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.imagem2 {
    background-image: url(imagem/canal-gbc7b21420_1920.jpg);
}

.imagem3 {
    background-image: url(imagem/mountains-g5ead3ed33_1920.jpg);
}

.imagem4 {
    background-image: url(imagem/city-gc0709ea28_1920.jpg);
}

.entre-imagens {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgb(191, 243, 243);
}

.entre-imagens p {
    padding: 100px;
    font-size: 25px;
    text-transform: uppercase;
}
